@use 'core/mixins' as mixins;
@use 'core/typography.scss';
@use 'core/utility.scss';
@use 'core/scaffold.scss';

@property --sketchy-arrow-width {
  syntax: '<length>';
  initial-value: 1px;
  inherits: true;
}

@property --sketchy-arrow-tip-spread {
  syntax: '<angle>';
  initial-value: 45deg;
  inherits: true;
}

@property --sketchy-arrow-tip-size {
  syntax: '<number>';
  initial-value: 40;
  inherits: true;
}

@property --sketchy-arrow-point-approx {
  syntax: '<number>';
  initial-value: 3;
  inherits: true;
}

@property --sketchy-arrow-count {
  syntax: '<integer>';
  initial-value: 3;
  inherits: true;
}

@property --sketchy-arrow-color {
  syntax: '<color>';
  initial-value: black;
  inherits: true;
}

@property --sketchy-arrow-random-seed {
  syntax: '<integer>';
  initial-value: 1234;
  inherits: true;
}

:root {
  font-family:
    Graphik Regular,
    system-ui,
    sans-serif;
  --slide-bg: white;
  --sliding-duration: 0ms;
  --fragment-duration: 300ms;
  --brand-color: #822a7c;
  --brand-color-ant: #f60;
  --sketchy-arrow-width: 0.1em;
  --sketchy-arrow-tip-size: 20;
  --bolognajs-color-logo: #f3df49;
}

p-deck::after {
  position: fixed;
  top: 0.5em;
  left: 0;
  right: 0.5em;
  font-size: 50%;
  text-align: center;
  content: '';
  color: #001236;
  z-index: 100;
}

p-fragment.landing {
  position: absolute;
  transform: scale(3);
  transition:
    opacity var(--fragment-duration, 300ms),
    transform var(--fragment-duration, 300ms);

  &[aria-hidden='false'],
  p-deck[mode='speaker'] & {
    transform: scale(1);
  }
}

.to-do {
  @extend .blink;
  color: #f00;
  border: 1px solid #f00;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.3em;
}

.our-header {
  border-left: var(--brand-color) solid 0.15em;
  padding: 0.5em;
  margin: 0 0 0.5em;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
  grid-gap: 1em;
  align-items: center;
}

.slide-quote {
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.blockquote {
  b {
    font-family: 'Graphik Medium', sans-serif;
  }

  blockquote {
    @include mixins.smallText;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: 1.2em;
  }

  blockquote:before,
  blockquote:after {
    position: absolute;
    color: #959595;
    font-size: 5em;
    width: 4rem;
    height: 4rem;
  }

  blockquote:before {
    content: '“';
    inset-inline-start: -0.1em;
    top: -0.3em;
  }

  blockquote:after {
    content: '”';
    inset-inline-end: 0;
    bottom: 0.15em;
  }

  cite {
    @include mixins.smallText;
    line-height: 3;
    text-align: left;
    margin-inline-start: 1em;

    a {
      color: initial;
    }
  }
}

.small-text {
  @include mixins.smallText;
}

.alter-image-size {
  --image-start-size: 8em;
  --image-width-size: auto;
  height: var(--image-start-size);
  width: var(--image-width-size);
}

code,
pre {
  &.small-line {
    line-height: 1.1em;
  }
}

.long-list {
  --li-margin-bottom: 0.3em;
  @include mixins.smallText;

  li {
    margin-bottom: var(--li-margin-bottom);
  }
}

.more-margin li {
  margin-bottom: 0.6em;
}

.invert {
  &[aria-hidden='true'] {
    opacity: 1;
  }

  &[aria-hidden='false'] {
    opacity: 0;
  }
}

.bottom-first-page {
  left: 50%;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  bottom: 0;
  font-size: 0.4em;
  transform: translate(-50%, -50%);
  color: rgb(93, 93, 93);
}

.main-gradient {
  @include mixins.gradientText(#1d99fd, #ff00f7);
}

.main-sub-gradient {
  @include mixins.gradientText(#ff00d8, #ff542f);
}

.cover {
  h1 {
    @extend .main-gradient;
    font-size: 1.3em;
    text-align: center;
    margin-top: 0;
    margin-block-end: 1rem;
  }

  a {
    color: rgba(255, 255, 255, 0.8);
  }

  small {
    display: block;
  }

  figure {
    margin: 0;
  }

  img {
    height: 4em;
  }

  > img {
    filter: invert(1) hue-rotate(180deg);
    height: 200%;
    transform: translate(25%, -10%);
    opacity: 0.5;
  }
}

.cover-colored {
  @extend .cover;
  * {
    @extend .main-gradient;
  }
}

.cover-subSection {
  @extend .cover;

  h1 {
    font-size: 0.9em;
  }
}

.gradient-sub-section {
  h5 {
    @extend .main-sub-gradient;
  }
}

.internal-flex {
  display: flex;
  align-items: center;
}

.my-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vw;

  span {
    font-size: 2vw;
  }
}

.my-list {
  h5,
  h6 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.links {
  font-size: 70%;
  align-self: center;
  margin-top: 0.5em;

  li:not(:first-child) {
    margin-top: inherit;
  }

  a {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 1.75em;
  }
}

.my-data {
  text-align: center;

  > h5 {
    margin-bottom: 0;
  }
}

.my-face {
  height: 6em;
  margin: 0 1em;
}

.my-info {
  width: 8em;
  text-align: center;
  margin: 2em 2em 0;

  img {
    height: 1em;
    vertical-align: middle;
  }
}

.final-link {
  a {
    color: var(--brand-color);
  }

  img {
    display: block;
    margin: 1em auto 0;
    height: 7em;
  }
}

.shadow {
  box-shadow: 0 0 0.5em rgba(black, 0.5);
}

.javascript {
  background-color: #f7df1e;
  padding: 0 0.25em;
}

.big-x {
  position: absolute;
  aspect-ratio: 4 / 3;
  display: grid;
  opacity: 1;

  &::before,
  &::after {
    content: '';
    background-size: 100% 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    filter: saturate(0.8);
    box-sizing: border-box;
    grid-area: 1 / 1;
    padding-right: 100%;
  }

  &::before {
    background-image: url(../img/brush-stroke-1.png);
    transform: rotate(-30deg);
  }

  &::after {
    background-image: url(../img/brush-stroke-2.png);
    transform: rotate(30deg);
  }

  &:not(p-fragment[aria-hidden='true'] &):not(:is(p-fragment[aria-hidden='true'])) {
    &::before,
    &::after {
      animation: big-stroke calc(var(--fragment-duration, 300ms) / 2) ease-in 1 forwards;
    }

    &::after {
      animation-delay: calc(var(--fragment-duration, 300ms) / 2);
    }
  }
}

.coming-soon {
  display: none;
}

body[coming-soon] .coming-soon {
  display: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

@keyframes big-stroke {
  from {
    padding-right: 100%;
  }
  to {
    padding-right: 0%;
  }
}

.sketchy-arrow {
  position: absolute;
  background: paint(sketchy-arrow);
  aspect-ratio: 16 / 9;
  animation: sketchy 0.3s steps(3) infinite;
  filter: drop-shadow(0.075em 0.075em 0 white);
  text-align: center;
}

@keyframes sketchy {
  from {
    --sketchy-arrow-random-seed: 20;
  }
  to {
    --sketchy-arrow-random-seed: 40;
  }
}

a {
  color: var(--brand-color);
}

.full-media {
  &.full-media-x {
    height: auto;
    top: auto;
  }

  &.full-media-y {
    width: auto;
    left: auto;
  }
}

.support-table {
  font-size: 150%;
  width: 12em;
  margin: auto;
  border-collapse: collapse;

  img {
    height: 2em;
    filter: saturate(0) drop-shadow(0.1em 0.1em 0.1em #0005);
  }

  th {
    border-bottom: 0.1em solid;
  }

  td,
  th {
    text-align: center;
    padding: 0.5em;
    &:not(:first-child) {
      border-inline-start: 0.1em solid;
    }
  }

  span {
    font-size: 150%;
  }

  caption {
    font-family: 'Old Newspaper Types', serif;
    font-size: 60%;
    margin-bottom: 0.5em;
  }
}

.text-sub-section {
  @extend .main-sub-gradient;
}

.special-file {
  border-radius: 1em;
  border: 1px solid blue;
  padding: 0.1em 0.6em;
  width: fit-content;
  position: absolute;
}

p-slide {
  gfy-blob {
    display: none;
    position: absolute;
    filter: brightness(1.5);
    opacity: 0.95;
    width: 8em;
    height: 8em;
    animation: box 7s ease infinite alternate;
  }
  &[aria-hidden='false'] {
    gfy-blob {
      display: block;
    }
  }
  .group-fragment[aria-hidden='false'] {
    display: none;
    &:last-child {
      display: inherit;
    }
  }
}

pre[data-label-file] {
  padding: 0 0 0.5em 0;
  margin: 0;
  border-radius: 1em;
  border: 1px solid #c7c6c6;
  position: relative;
}
pre[data-label-file]::before {
  content: attr(data-label-file);
  display: block;
  width: 100%;
  border-bottom: 1px solid #c7c6c6;
  padding: 0.5em 1em;
  text-align: center;
  color: #6f6d6d;
  font-size: 0.7em;
}

pre[data-label-file]::after {
  content: '🔴 🟡 🟢 ';
  position: absolute;
  top: 0.5em;
  inset-inline-start: 1em;
  font-size: 0.7em;
}

.attention {
  font-weight: bold;
  &:before,
  &:after {
    color: #f00;
    content: ' ⚠️ ';
  }
}

.more-space {
  --default-more-space: 1.3em;
  line-height: var(--default-more-space);
}

.mid-dimension {
  margin-bottom: 0.5em;
  font-size: 0.7em;
  li {
    margin-bottom: 0.6em;
  }
}

.fragment-animation-from-bottom[aria-hidden='false'] {
  animation: from-bottom 5s;
}

.grid {
  --rows: 1;
  --columns: 2;
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 1em;
}

.heading-with-emoji {
  --justify-content: center;
  display: flex;
  align-items: flex-end;
  justify-content: var(--justify-content);
  gap: 0.3em;
  span {
    @extend .text-sub-section;
  }
}

@keyframes slideaway {
  from {
    display: block;
  }
  to {
    // transform: translateY(40px);
    opacity: 0;
  }
}

@keyframes box {
  0% {
    inset-inline-start: var(--rando0);
    inset-block-start: var(--rando1);
  }
  25% {
    inset-inline-start: var(--rando2);
    inset-block-start: var(--rando3);
  }
  50% {
    inset-inline-start: var(--rando4);
    inset-block-start: var(--rando5);
  }
  75% {
    inset-inline-start: var(--rando6);
    inset-block-start: var(--rando7);
  }
  100% {
    inset-inline-start: var(--rando8);
    inset-block-start: var(--rando9);
  }
}
