@use 'core/mixins' as mixins;

.grid-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0.5em;
}

ul {
  &.space {
    li {
      line-height: 1.5em;
    }
  }
}

ul.space {
  --web-day-ul-space: 0.4em;
  li {
    padding-block-end: var(--web-day-ul-space);
  }
}
