@use 'core/mixins' as mixins;

p-deck {
  background: linear-gradient(104deg, #03356e, #010f33);
}

p-slide {
  background: url('/img/webday/background.png');
  background-size: cover;
  color: #ffffff;
}

.blockquote cite a {
  color: #ffffff;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0.5em;
}

ul {
  &.space {
    li {
      line-height: 1.5em;
    }
  }
}
